<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/components/user.select/user.select.css" type="text/css" rel="stylesheet">
<script src="/components/user.select/user.select.js"></script>
</head>
<body>

    <header>
        <div class="title">
          <h1>Selecciona el jugador!</h1>
        </div>
    </header>

<div class="row-container">

    <article class="card" onclick="saveUser('kid1')" style="cursor:pointer">
        <img src="../../assets/img/kid1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Pablito</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid2')" style="cursor:pointer">
        <img src="../../assets/img/kid2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Juanito</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid3')" style="cursor:pointer">
        <img src="../../assets/img/kid1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Pedrito</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid4')" style="cursor:pointer">
        <img src="../../assets/img/kid2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Maria</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid5')" style="cursor:pointer">
        <img src="../../assets/img/kid1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Anita</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid6')" style="cursor:pointer">
        <img src="../../assets/img/kid2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Sofia</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid7')" style="cursor:pointer">
        <img src="../../assets/img/kid1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Elizabeth</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid8')" style="cursor:pointer">
        <img src="../../assets/img/kid2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Andrea</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid9')" style="cursor:pointer">
        <img src="../../assets/img/kid1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Alejandra</b></h4>
        </div>
    </article>
    <article class="card" onclick="saveUser('kid10')" style="cursor:pointer">
        <img src="../../assets/img/kid2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>David</b></h4>
        </div>
    </article>

</div>


</body>
</html> 