<!DOCTYPE html>
<html>
  <head>
    <title>Colores</title>
    <meta charset="utf-8">
    <link href="quizzer.css" type="text/css" rel="stylesheet"> 
    <script src="../../jquery-2.2.0.min.js"></script>
    <script src="../../underscore-1.8.3.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <h2>Jugador:</h2>
        <p id="kidLabel">nino</p>
      </div>
      <div class="countdown"><span class="time_left">25s</span></div>
      <div class="points"><span class="points">0 puntos</span></div>
    </header>
    <div class="start">
      <div class="card">
        <p>JUGUEMOS!</p>
        <button class="start" style="cursor:pointer"><img src="../../assets/img/play.png" width="210"></button>
      </div>
    </div>
    <div class="play">
      <div class="questions"></div>
    </div>
    <div class="finish card">
      <p class="times_up">¡Se acabó el tiempo!</p>
      <p>Has obtenido</p>
      <p class="final_points">10 puntos</p>
      
      <div class="play_again">
        <button>Volver a jugar</button>
      </div>

      <div class="save_bdd">
        <button>Guardar los resultados</button>
      </div>
    </div>

    <div class="poster-20 card">
      <iframe width="560" height="315" src="https://youtu.be/fTOWntsMlhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="poster-40 card">
      <iframe width="560" height="315" src="https://youtu.be/IquBBihHZfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="poster-60 card">
      <iframe width="560" height="315" src="https://youtu.be/_DZTT7QASbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="poster-80 card">
      <iframe width="560" height="315" src="https://youtu.be/SAVv-B8ORC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="poster-100 card">
      <iframe width="560" height="315" src="https://youtu.be/yI524BReOdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </body>
  <script src="quizzer.js"></script>
</html>
